.row
  .col-md-6
    %table.table.table-bordered.info-table
      %tbody
        %tr
          %th Class Name
          %td= @name
        %tr
          %th Superclass
          %td!= @superClass
        %tr
          %th File
          %td
            %a{href: @srcUrl}= @filename
