!!!
%html
  %head
    %title= @title
    %link{rel: 'stylesheet', href: 'base.css', type: 'text/css'}
  %body
    .navigation
      != @navigation
    .content
      != @content
    .footer
      %small
        Generated on #{(new Date).toString()} by
        %a{href: 'https://github.com/lee-dohm/endokken'} endokken
